<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!--    <bean id="admin" class="com.yaofen.bean.Admin">-->
    <!--        <property name="account" value="哈哈"></property>-->
    <!--        <property name="pwd" value="123"></property>-->
    <!--    </bean>-->

    <context:property-placeholder location="classpath:config/db.properties"></context:property-placeholder>
    <bean id="druid" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="connectionErrorRetryAttempts" value="3"></property>
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>

        <!--        最大并发数-->
        <property name="maxActive" value="100"></property>
        <!--        初始化连接数量-->
        <property name="initialSize" value="50"></property>
        <!--        连接等待超时时间-->
        <property name="maxWait" value="10000"></property>

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>

        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000"/>
    </bean>

    <context:component-scan base-package="com.yaofen"></context:component-scan>
</beans>