@charset "gb2312";
/*全局设置*/
body, div, dl, dt, dd, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td { margin: 0; padding: 0; }
body { margin: 0; font-family: 微软雅黑, arial, 宋体; font-size: 14px; color: #333; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
input, textarea, select, button { font: 12px Verdana, Helvetica, Arial, sans-serif; }
table { border-collapse: collapse; }
html { overflow-y: scroll; }
ol, ul, li, p, h1, h2, h3, h4, h5，h6 { margin: 0; padding: 0; list-style: none; word-break: break-all; word-wrap: break-word; }
a:link { color: #333; text-decoration: none; }
a:visited { color: #333; text-decoration: none; }
a:hover { color: #F00; text-decoration: none; }
a:active { text-decoration: none; }
img { border: none; }
.trbtn1 { background: #c31f0b; border: none; }
.trbtn1:hover { background: #0095DA; }
/*公共样式*/
.trw1 { width: 1200px }
.trw2 { width: 1198px }
.trmar1 { margin-left: auto; margin-right: auto }
.trmar2 { margin-bottom: 8px }
.trmar3 { margin-left: 18px }
.trmar4 { margin-left: auto; margin-right: auto; margin-bottom: 8px }
.trmar5 { margin-top: 8px }
.trmar6 { margin-left: 5px }
.trmar7 { margin-left: 33px }
.trpad1 { padding-top: 10px; }
.trbor1 { border: 1px solid #A9E5F8; }
.trbor2 { border: 1px solid #D9D9D9; }
.trbor3 { border: 1px solid #A9E5F8; }
.trfont1 { font-size: 14px; font-weight: 600; color: #006A88; }
.trfont2 { color: #F00; }
.trfont2a { color: #F00; }
.trfont3 { color: #006CFF; }
.trfont4 { font-weight: 600; }
.trfl { float: left }
.trfr { float: right; }
.trnobg { background: none; }
.trbg1 { background: #F30; }
.trbg2 { background: #FFBA00; }
.trbg3 { background: #00BAFF; }
.trbg4 { background: #ccc; }
.trovh { overflow: hidden }
.trdisnone { display: none; }
.safes { font-size: 0px; color: #888; }
.trinput1 { width: 200px; padding: 5px 0; border: 1px solid #ccc; background: url(img/input_bg.gif) repeat-x top; }
.trinput2 { width: 400px; height: 80px; border: 1px solid #ccc; background: url(img/input_bg.gif) #fff repeat-x top; }
.trinput3 { width: 100px; padding: 5px 0; border: 1px solid #ccc; background: url(img/input_bg.gif) repeat-x top; }
.trinput4 { width: 90%; padding: 5px 0; border: 1px solid #ccc; background: url(img/input_bg.gif) repeat-x top; }
.trinput5 { width: 90%; height: 80px; border: 1px solid #ccc; background: url(img/input_bg.gif) #fff repeat-x top; }
.trinput6 { width: 99%; height: 80px; border: 1px solid #ccc; background: url(img/input_bg.gif) #fff repeat-x top; }
.trinput7 { width: 40px; padding: 5px 0; border: 1px solid #ccc; background: url(img/input_bg.gif) repeat-x top; }
.trtable1 { width: 650px; padding: 10px; font-size: 12px; margin: auto; }
.trtable1a { width: 95%; margin: auto; }
.trtable1 td, .trtable1a td { border: 0px solid #ccc; padding: 5px 0; }
.trtable2, .trtable2a { width: 100%; padding: 10px 0; font-size: 12px; margin: auto; }
.trtable2 td, .trtable2a td { border-top: 1px dashed #ccc; padding: 5px 0; }
.trbt1 { width: 150px; height: 40px; background: #0CF; color: #333; cursor: pointer; text-align: center; border-radius: 5px; border: none; }
.trbt1:hover { background: #71E6FF; }
.trbt2 { width: 50px; height: 20px; background: #dc143c; border: 0px solid #ccc; color: #fff; cursor: pointer; }
.trbt2:hover { background: #f00; }
.trbt3 { width: 60px; height: 30px; background: #0CF; border: 0px solid #ccc; color: #333; cursor: pointer; text-align: center; }
.trbt3:hover { background: #71E6FF; }
.nobor td { border: none; }
.trrow1200 { margin-left: -15px; margin-right: -15px; }
.trrow1199 { }
.trmcrumbs { display: none; }
/*分页样式*/
.trpage { height: 50px; padding: 15px 0px 15px 0; text-align: center; font-size: 12px; }
.trpage a { height: 28px; background: #c31f0b; padding: 5px 10px; text-decoration: none; margin: 0 2px; color: #fff; }
.trpage a:hover { background: #FFF18F; color: #333; }
.trpage a.now { background: #FFF18F; color: #333; }
/*广告位*/
.trad1, .trad2, .trad3, .trad4, .trad5 { overflow: hidden; word-break: break-all; word-wrap: break-word; }
.trad1 img, .trad2 img, .trad3 img, .trad4 img, .trad5 img { display: block; }
/*页面顶部边条*/
.trtopbar { width: 100%; height: 35px; border-bottom: 1px solid #EFEFEF; background: #F8F8F8; color: #999; margin-bottom: 8px; }
.trtopbar a { color: #999; }
.trtop { height: 35px; line-height: 35px; }
.trtopnotice { height: 35px; overflow: hidden; background: url(img/horn.gif) left center no-repeat; padding-left: 25px; }
.trtopnotice li { height: 35px; font-size: 12px; width: 370px; overflow: hidden; line-height: 35px; }
.trtopl { background: url(img/horn.png) left center no-repeat; padding-left: 25px; }
.trtop2 { width: 200px; height: 31px; padding-top: 4px }
.trtop2 form { border: 1px solid #ddd; height: 28px; background: #fff; }
.trtop3 { width: 520px; height: 35px; text-align: right; margin-right: 18px; font-size: 12px; }
.trsearchs { width: 125px; height: 26px; border: none; padding: 0 0 0 5px; line-height: 26px; float: left; }
.trsearchbt { width: 70px; height: 26px; background: #ddd; padding: 0; cursor: pointer; border: none; float: right; color: #fff; font-size: 18px; }
/*logo区域*/
.trlogoother { height: auto; }
.trlogo { width: 300px; float: left; }
.trlogor { width: 840px; float: right; }
#trlogotb img { }
/*导航栏*/
.trnavbar { background: none; border: none; }
.trnav { background: #e30102; width: 100%; }
.trnavnr { width: 1200px; }
/*导航栏*/
.nav>li.trmuserbtn { display: none; }
.trnavmar1 { display: none; }
.trnavul { margin-top: 0; }
.trnavul li:first-child { }
.trnavul li.trnobg { border: none; }
.trnavul li { float: left; width: auto; font-size: 16px; text-align: center; white-space: nowrap; }
.trnavul li a { color: #fff !important; display: block; padding: 0 37px; height:45px; line-height: 45px; font-size: 18px; white-space: nowrap; _width: 100px;font-weight: bold;}
.trnavul li a:hover { color: #fff; background: #F8AB00 !important; text-decoration: none; }
.trnavul li a:active { color: #fff; background: #F8AB00 !important; text-decoration: none; }
.trnavul li a.trnavac { color: #fff; background: #F8AB00 !important; text-decoration: none; }
/*首页图文区域*/
.trnews { height: 520px; overflow: hidden; }
/*焦点图*/
.trfocusa { overflow: hidden; }
.trslider { position: relative; text-align: center; overflow: hidden; width: 100%; height: 325px; }
.trslider .tabcon li { float: left; overflow: hidden; position: relative; }/*自适应宽高*/
.trslider .tabcon li p { height: 30px; line-height: 30px; position: absolute; bottom: 0; left: 0; filter: alpha(opacity=50); opacity: 0.5; background: #000; color: #fff; overflow: hidden; word-wrap: break-word; word-break: break-all; white-space: normal; width: 100%; }
.dots { position: absolute; right: 0px; width: 100%; bottom: 40px; text-align: center } /*修改text-align 值 可以调整控制点是居中、居右、居左*/
.dots li { display: inline-block; text-align: center; width: 8px; height: 8px; font-size: 0px; line-height: 0px; margin-right: 8px; cursor: pointer; background-color: #c31f0b; -khtml-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.dots li.active { background-color: #F8AB00; }
.trfocusshowpc, .trfocusshowm { display: block; }
.trfocushiddenpc, .trfocushiddenm { display: none; }
/*数字方框控制*/
.numSlider .dots li { width: 20px; height: 20px; line-height: 20px; font-size: 13px; margin-right: 10px; line-height: 20px; background-color: #fff; font-family: Arial; font-weight: bold; text-indent: inherit; -khtml-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px }
.numSlider .dots li.active { background-color: #222; color: #fff; }
/*长方条控制*/
.boxSlider .dots li { width: 40px; height: 10px; -khtml-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px }
/*圆角长方条控制*/
.boxRadius .dots li { width: 40px; }
.unslider-arrow { display: block; position: absolute; top: 50%; margin-top: -25px; height: 50px; width: 50px; z-index: 3; opacity: 0.7; filter: alpha(opacity=70); background-color: #F8AB00; background-repeat: no-repeat; line-height: 50px; color: #fff; font-size: 30px; text-align: center; display: none; }
.unslider-arrow:hover, .unslider-arrow:link { color: #fff; }
.prev { left: 0px; background-position: 0 0 }
.next { right: 0px; background-position: right 0 }
/*新闻中心*/
.trnewscenter { height: auto; }
.trnewstop { width: auto; padding: 0 10px; }
.trnewstop h3 { text-align: center; font-size: 16px; height: 30px; line-height: 30px; overflow: hidden; }
.trnewstop h3 a { color: #c31f0b; }
.trnewstop p { line-height: 20px; }
.trnewstopul { padding: 5px 5px 0 5px; }
.trnewstopul li { width: 260px; height: 24px; line-height: 24px; padding-left: 25px; background: url(img/trdot.jpg) 8px center no-repeat; overflow: hidden; }
.trnewstopul li span { float: right; color: #aaa; }
.trnewstopul li a { }
.trdivline { width: 80%; height: 10px; border-bottom: 1px dashed #CCC; margin: 0 auto; overflow: hidden; }
.tr_smalllistkpul1 { padding: 5px 5px 0 5px; }
.tr_smalllistkpul1 li { width: 45%; height: 26px; line-height: 26px; padding-left: 5px; overflow: hidden; float: left; margin: 0 2.5%; +margin-bottom:-5px;
}
.tr_smalllistkpul1 li span { float: left; color: #aaa; margin-right: 10px; }
.tr_smalllistkpul1 li span a { color: #c31f0b; }
.tr_smalllistkpul1 li a { }
.tr_smalllistkpul2 { padding: 5px 5px 0 5px; }
.tr_smalllistkpul2 li { height: 23px; line-height: 23px; overflow: hidden; padding-left: 15px; background: url(img/trdot.jpg) 1px center no-repeat; }
.tr_smalllistkpul2 li span { float: right; color: #aaa; }
.tr_smalllistkpul2 li span a { color: #999; }
.tr_smalllistkpul2 li a { }
.tjydtt { width: auto; height: 30px; border-bottom: 1px solid #c31f0b; color: #c31f0b; line-height: 30px; font-weight: 600; }
/*热点排行*/
.trhotnews { height: auto; }
.trtitle1 { width: 100%; padding-left: 0px; overflow: hidden; background: #f5f5f5; }
.trtitle1text { padding-left: 10px; padding-right: 10px; text-align: center; background: #c31f0b; height: 35px; line-height: 35px; font-size: 14px; font-weight: 600; color: #fff }
.trhotnewsul { padding: 5px; }
.trhotnewsul li { width: auto; height:38px; line-height: 28px; padding-left: 0px; overflow: hidden; +margin-bottom:-3px;
}
.trhotnewsul li span { float: right; color: #aaa; }
.trhotnewsul li a { }
.trhotnewsul li span.hotsp { float: left; color: #fff; margin-right: 5px; width: 16px; height: 16px; margin-top: 6px; line-height: 16px; text-align: center; white-space: nowrap; }
.trhotnewsul li span.spw1 { width: 40px; overflow: hidden; text-align: right; }
/*滚动图片*/
.trrollimg { height: auto; }
.trrollimgnr { width: 1194px; height: 180px; border: 0px solid #000000; overflow: hidden; margin: 5px auto 5px auto; }
.trrollimgnr ul li { float: left; list-style: none; border: 0px solid red; margin: 10px 7px; }
.trrollimgnr ul li img { }
.trrollimgnr ul li span { display: block; text-align: center; font-size: 12px; margin-top: 8px; }
.trtitle2 { width: 100%; padding-left: 0px; overflow: hidden; color: #006A88; border-bottom: 1px solid #c31f0b; }
.trtitle2text { padding-left: 10px; padding-right: 10px; text-align: center; width: 130px; height: 35px; line-height: 35px; font-size: 14px; font-weight: 600; color: #fff; background: #c31f0b; }
/*新闻版块*/
.trcolumn { height: auto; }
.tridxul { padding: 5px; }
.tridxul li { height: 28px; line-height: 28px; padding-left: 15px; background: url(img/trdot.jpg) 1px center no-repeat; overflow: hidden; }
.tridxul li span { float: right; color: #ccc; margin-left: 10px; }
.tridxul li a { }
.trnewlist { height: 379px; margin-bottom: 18px; overflow: hidden; }
.trimgtext { width: auto; height: auto; padding: 14px 8px; }
.trimgtext>a { float: left; width: 80px; height: 85px; display: block; margin-right: 10px; }
.trimgtext img { }
.trtext1 { height: 85px; overflow: hidden }
.trtext1 h3 { margin-bottom: 8px; }
.trtext1 h3 a { font-weight: 500; color: #F00; }
.trtitle3 { width: 100%; padding-left: 0px; overflow: hidden; border-bottom: 1px solid #c31f0b; margin-bottom: 7px; }
.trtitle3text { padding-right: 0px; text-align: center; width: 130px; height: 35px; line-height: 35px; font-size: 14px; font-weight: 600; color: #fff; background: #c31f0b; }
.trtitle3text a { color: #fff; }
.trmore { line-height: 35px; padding-right: 15px; text-align: center; }
.trmore a { color: #ccc; }
.trmore a:visited { color: #ccc; text-decoration: none; }
/*友情链接*/
.trpublicline { width: 100%; background: #f5f5f5; padding-bottom: 15px; margin-top: 18px; padding-top: 20px }
.linktext li { width: auto; height: 30px; line-height: 30px; float: left; margin: 1px 8px; }
.linktext li a { white-space: nowrap; }
.linkimg { border-bottom: 1px dashed #D7D7D7; padding-bottom: 10px; }
.linkimg li { width: auto; height: auto; float: left; margin: 8px; }
.trtitle4 { margin: 0 auto 10px auto; height: 45px; line-height: 45px; font-size: 14px; font-weight: 600; }
/*说明相关*/
.trexplain { text-align: center; line-height: 30px; padding-top: 5px; margin: auto; }
.trexplain a { margin: 0 8px; white-space: nowrap; }
/*网站信息*/
.trabout { width: 100%; background: #f5f5f5; }
.trinformation { text-align: center; line-height: 30px; padding-top: 5px; margin: 0px auto 15px auto; }
/*页面底部版权信息*/
.trbottomtext { width: 100%; background: #f5f5f5; }
.trcopypower { height: 50px; line-height: 50px; margin: auto; _width: 1200px; max-width: 1200px; }
.trpoweredby, .trpoweredby a { color: #55B5FD; }
/*列表页，文章页主区域*/
.trlist { }
.trshow { }
.trlisttitle1, .trshowtitle1, .trsearchtitle1 { line-height: 40px; height: 40px; padding-left: 25px; border-bottom: 1px solid #c31f0b; margin-bottom: 15px; }
.trlisttitle2 { line-height: 35px; height: 35px; padding-left: 15px; border-bottom: 1px solid #e5e5e5; color: #666666; font-size: 16px; }
.publicnr { }
.trlistul { padding: 5px 10px; }
.trlistul li { width: auto; height: 35px; line-height: 35px; padding-left: 20px; background: url(img/trdot.jpg) 1px center no-repeat; overflow: hidden; border-bottom: dashed 1px #ddd; }
.trlistul li span { float: right; color: #aaa; margin-left: 10px; }
.trlistul li a { }
.trnearnews { height: 35px; padding-left: 0px; font-size: 16px; line-height: 35px; overflow: hidden; }
.trnearnews a { line-height: 35px; }
.trimgul { padding: 20px 0px; }
.trimgul li { width: 158px; height: 220px; float: left; margin: 0 3px; }
.trimgul li p { line-height: 26px; height: 26px; overflow: hidden; text-align: center; }
.trimgul li img { }
/*列表页右侧*/
.trlistright { }
.trlistnav li { width: 110px; height: 35px; line-height: 35px; padding-left: 0px; float: left; margin-bottom: 8px; margin-left: 8px; text-align: center; overflow: hidden; }
.trlistnav .tractive a { background: #FFF18F; color: #333; }
.trlistnav li span { float: left; color: #fff; margin-right: 5px; width: 16px; height: 16px; margin-top: 6px; line-height: 16px; text-align: center; }
.trlistnav li a { color: #fff; display: block; text-decoration: none; background: #c31f0b; }
.trlistnav li a:hover { background: #FFF18F; color: #333; }
.trsmallblock1 { width: auto; }
.trsmallblock1ul { padding: 5px; }
.trsmallblock1ul li { width: auto; height: 28px; line-height: 28px; padding-left: 20px; background: url(img/trdot.jpg) 8px center no-repeat; overflow: hidden; }
.trsmallblock1ul li span { float: right; color: #aaa; }
.trsmallblock1ul li a { }
/*文章页内容部分*/
.trcontentbox { padding-top: 10px; word-wrap: break-word }
.trshow h1 { font-size:30px; text-align: center; line-height: 35px; font-weight: 600; margin: 0 0 10px 0; padding: 5px 0; }
.trinfo { line-height: 45px; font-size: 14px; width: 690px; }
.trcontent { padding: 5px 10px; width: auto; line-height: 1.8; font-size: 14px; }
.trcontent p { font-size: 14px; }
.trcontent img { cursor: pointer; margin: auto; }
.trcontenttd { line-height: 1.8; }
.trsnotice { width: 90%; height: auto; padding: 10px; border: 1px solid #FFD76B; background: #FFFEED; margin: 5px auto; overflow: hidden; text-align: center; }
/*搜索页*/
.trsearch { }
.trsearchul { padding: 5px 10px; }
.trsearchul li { width: auto; height: 35px; line-height: 35px; padding-left: 20px; background: url(img/trdot.jpg) 1px center no-repeat; overflow: hidden; border-bottom: 1px dashed #DDD; }
.trsearchul li span { float: right; color: #aaa; font-size: 12px; }
.trsearchul li a { }
.trzwnr { width: 80%; line-height: 50px; font-size: 14px; color: #999; text-align: center; margin: auto; }
/*会员相关*/
.trusernav li { width: 40px; height: 40px; line-height: 16px; float: left; margin-bottom: 8px; margin-left: 8px; text-align: center; overflow: hidden; }
.trusernav li span { float: left; color: #fff; margin-right: 5px; width: 16px; height: 16px; margin-top: 6px; line-height: 16px; text-align: center; }
.trusernav li a { padding: 3px; color: #fff; display: block; text-decoration: none; background: #c31f0b; }
.trusernav li a:hover { background: #FFE6A1; color: #333; }
.trmidword { width: 700px; height: 30px; line-height: 30px; text-align: center; }
.trunotice { width: 99%; height: 100px; padding: 10px; border: 1px solid #FFD76B; background: #FFFEED; margin: 5px auto 15px auto; overflow-y: scroll; }
.trfontu { font-size: 14px; line-height: 100px; text-align: center; color: #F00; font-weight: 600; overflow: hidden; }
.trsignbt { width: 300px; height: 70px; display: block; margin: 10px auto; font-size: 20px; line-height: 70px; background: #FFE138; text-align: center; }
.trsignnow i { margin-left: 20px; font-size: 22px; }
.trsigned { background: #71E6FF; }
.trsigned i { margin-left: 20px; font-size: 22px; }
.trsignbt { transition: All 0.1s ease-in-out; -webkit-transition: All 0.1s ease-in-out; -moz-transition: All 0.1s ease-in-out; -o-transition: All 0.1s ease-in-out; }
.trsignbt:hover { transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.trsignbox { width: 500px; text-align: center; margin: 10px auto; height: 100px; }
.truserblock { border: 1px solid #e5e5e5; margin: -1px 0 0 -1px; height: 50px; line-height: 50px; overflow: hidden; }
.truserblock:hover { background: #f9f9f9; }
.truserblocki { margin-right: 5px; color: #aaa; }
.truserinfo { display: inline-block; float: right; }
.trseparateline { height: 40px; width: 100%; background: #f5f5f5; line-height: 40px; padding-left: 2%; margin: 0 0 20px 0; }
.trdivbtn { width: 100%; text-align: center; }
.truseri1 { margin: 0 0 20px 0; }
.trnotice1 { height: 100px; max-height: 100px; overflow-y: scroll; overflow-x: hidden; }
.truserid { width: 100%; line-height: 30px; margin: 20px 0 20px 0; border-top: 1px solid #f1f1f1; padding: 10px; text-align: center; }
/*留言相关*/
.trbookbt { background: url(img/trdot.jpg) 15px 8px no-repeat; padding-left: 25px; }
.trcontents { width: auto; height: auto; overflow: hidden; }
.trp1 { line-height: 20px; font-size: 12px; }
.trp1 .uname { color: #EB7350; }
.trp1 .uname a { color: #EB7350; }
.trp2 { line-heigt: 24px; color: #ccc; font-size: 12px; }
.trp3 { line-height: 20px; color: #FF0000; }
.trsendguest { width: 718px; padding: 10px 0 10px 0; }
.trgcontent { height: 94px; border: 1px solid #F90; margin: 0 auto 10px auto; padding: 5px }
.trsendguest td { padding: 5px 0 0 0; border: none; }
.trsendtb { margin: 10px auto 10px auto; font-size: 12px; width: 99%; }
.trsendtb td { border: none; }
.trcomment { }
.trntblock { position: fixed; width: 300px; height: auto; margin: 0 auto; top: 40%; left: 40%; _position: absolute; _bottom: auto; _top:expression(eval(document.documentElement.scrollTop));}
.adtop170528 { width: 300px; height: auto; margin: 0 auto 5px auto; background: #666; padding: 20px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; line-height: 20px; font-size: 14px; color: #fff; word-wrap: break-word; word-break: break-all; text-align: center; display: none; overflow: hidden; position: relative; }
.num170528 { position: absolute; left: 0px; top: 0px; padding: 3px; }
.close170528 { position: absolute; right: 0px; top: 0px; padding: 5px 10px; cursor: pointer; }
#trscrollup { width: 0px; height: 0px; overflow: hidden; font-size: 0; display: block; }
.trmbottommenu { display: none; }

/*当页面大于1200px时*/
@media screen and (min-width:1200px) {
.trmmenu { display: none; }
.trfocus1199 { display: none; }
.trfocus1200 { display: block; }
}


