<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaofen.mapper.ActionMapper">
    <insert id="addAction">
        insert into t_action (worker,thing) values (#{worker},#{thing})
    </insert>
    <select id="getAction" resultType="com.yaofen.bean.SystemLog">
        select a.id,c.name,a.time,a.thing from t_action a,t_client c where a.worker=c.id order by a.id
    </select>
    <delete id="delAction">
        delete from t_action where id=#{id}
    </delete>
</mapper>