<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaofen.mapper.UserMapper">
    <insert id="addUser" keyProperty="id" useGeneratedKeys="true">
        insert into t_client (name,pwd,tel,email,point,roleid,sex,level,state) values
        (#{name},#{pwd},#{tel},#{email},#{point},#{roleid},#{sex},#{level},#{state})
    </insert>
    <select id="login" resultType="com.yaofen.bean.User">
        SELECT id,name,pwd,tel,email,point,roleid,sex from t_client where name=#{name} and pwd=#{pwd}
    </select>
    <select id="findRoleByAccount" resultType="java.lang.String">
        select DISTINCT p.name from t_params p,t_client c where p.value=c.roleid and p.type='client' and
        c.name=#{account}
    </select>
    <select id="checkAccount" resultType="com.yaofen.bean.User">
        select id,name,pwd,tel,email,point,roleid,sex from t_client where name=#{account};
    </select>
    <insert id="addScoreTab">
        insert into t_score (user_id,file_id,type,score) values (#{userid},#{fileid},#{type},#{score});
    </insert>
    <select id="getManUser" resultType="com.yaofen.bean.User">
        select a.id,a.name,a.time,a.point,c.downCount,c.uploadCount,a.state FROM
        t_client a left join (select worker,sum(case when thing='下载' then 1 else 0 end) as downCount,sum(case when
        thing='上传' then 1 else 0 end)as uploadCount
        from t_action group by worker) c on a.id=c.worker limit #{page},#{limit}
    </select>
    <select id="getManUserCount" resultType="java.lang.Integer">
        select count(*) from t_client
    </select>
    <update id="checkUser">
        update t_client set state='已审核' where id=#{id}
    </update>
    <select id="getUserLevel" resultType="com.yaofen.bean.Member">
        select id,level,upload,download from t_member order by id
    </select>
    <update id="fixLevel">
        update t_member set level=#{level},upload=#{upload},download=#{download} where id=#{id};
    </update>
    <delete id="delUserLevel">
        delete from t_member where id=#{id}
    </delete>
    <select id="checkUserLevel" resultType="com.yaofen.bean.Member">
        select id,level,upload,download from t_member where level=#{level}
    </select>
    <select id="findValueByLevel" resultType="java.lang.String">
        select value from t_params where name=#{level}
    </select>
    <insert id="addUserLevel">
        insert into t_member values (#{value},#{level},#{upload},#{download})
    </insert>
    <select id="findPoint" resultType="java.lang.String">
        select point from t_client where name=#{name}
    </select>

</mapper>